body {
    font-family: Arial, sans-serif;
    background-color: rosybrown;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    background-color: red;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    color: blue;
  }
  
  .shopopen -item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .shopopn -item:last-child {
    border-bottom: none;
  }
  
  .shopopen -details {
    margin-left: 20px;
    font-size: 0.7em;
    color: blue;
  }
